*{
  box-sizing: border-box;
  color: azure;
}

body{
    background: darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
    }
  h1{
    font-size: 80px;
    text-align: center;
  }  
  h2{
    font-size: 20px;
    font-family: hastage;
    text-align: center;
  }
  figcaption{
    text-align: center;
  }
  img{
    border-radius: 15px;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  h3{
  text-align: center;
  }
  #img-caption {
    margin: 15px 0 5px 0;
  }
  
  ul {
    padding: 10px;
    max-width: 750px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  li{
    font-size: 1.3em;
    margin: 10px;
  }
  p{
    text-align: center;
  }
  a{
    text-decoration: none;
    color:firebrick;
    transition: 1s;
  }
  a:hover{
    color: darkslategrey;
  }
  a:visited{
    color: lawngreen;
  }
  #more{
    text-align: center;
    color: gray;
  }
  
  @media (max-width: 600px) {
    img{
      max-width: 100%;
    }
    h1{
      font-size: 40px;
      margin: 10px;
    }
    ul{
      max-width: 550px;
    }
    li{
      font-size: 1em;
    }
    p{
      font-size: small;
      max-width: 500px;
    }
  }